.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
}

.navStudioNav {
    max-height: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.navBack {
    border: 2px solid #363636;
    padding: 5px 10px;
    background: #191919;
    border-radius: 25px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #fff;
}
